/* 
  sass --watch src/sass:src 
*/
@media screen and (min-width: 600px) {
  body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    /* individual painting page */ }
    body.home .wrapper {
      padding: 15px;
      width: 940px; }
      body.home .wrapper h1 {
        float: left;
        font-size: 32px;
        font-weight: 600;
        margin: 20px 0 0 0;
        width: 160px; }
    body.home .intro p {
      margin-left: 180px; }
    body.home .intro ul {
      margin-left: 180px; }
      body.home .intro ul li {
        margin: 1em 0; }
    body.painting .nav {
      padding-top: 40px; }
    body.painting .container {
      width: 800px; }
    body.painting .painting-show {
      width: 960px; }
    body.painting .footer .left-col {
      display: none; }

  #wall-2012 .paintings {
    height: 514px;
    margin: 20px auto;
    position: relative;
    width: 750px; }
  #wall-2012 a.painting {
    position: absolute;
    top: 0; }
    #wall-2012 a.painting img {
      margin: 0; }
    #wall-2012 a.painting.saugerties {
      left: 23%;
      width: 54%; }
    #wall-2012 a.painting.upstate {
      left: 81%;
      top: 50%;
      width: 19%; }
    #wall-2012 a.painting.visiting {
      left: 81%;
      top: 10%;
      width: 19%; }
    #wall-2012 a.painting.yellow {
      left: 0;
      top: 25%;
      width: 19%; }

  #wall-2011 .row {
    width: 960px;
    margin: 0 auto; }
  #wall-2011 ul {
    margin: 1em auto;
    width: 790px;
    *zoom: 1; }
    #wall-2011 ul li {
      float: left;
      margin-right: 20px;
      padding-bottom: 20px;
      width: 250px; }
      #wall-2011 ul li img {
        width: 100%; }
      #wall-2011 ul li:last-child {
        margin: 0; }
    #wall-2011 ul:before, #wall-2011 ul:after {
      display: table;
      content: ""; }
    #wall-2011 ul:after {
      clear: both; } }
