---
---
@media screen and (min-width: 840px) {
	body {
	  font-size: 16px;
	  font-weight: 300;
	  line-height: 1.6em;
	  /* individual painting page */
	  &.painting {
	    .nav {
	      padding-top: 40px;
	    }
	    .container {width: 800px;}
	    .painting-show {width: 960px;}
	    .footer {
	      .left-col {display: none;}
	    }
	  }
	}

  #wall-2021 {
    ul {
      margin: 1em auto;
      width: 790px;
      *zoom: 1;
      li {
        img {
          width: 100%;
        }
        float:left;
        margin-right:20px;
        padding-bottom: 20px;
        width: 250px;
        &:last-child {
          margin: 0;
        }
      }
      &:before, &:after {
        display: table; content: ""; 
      }
      &:after {
        clear: both;
      }
    }   
  }

  #wall-2012 {
    .paintings {
      height: 514px;
      margin: 20px auto;
      position: relative;
      width: 750px;
    }
    a.painting {
      img {
        margin: 0;
      }
      position: absolute;
      top: 0;     
      &.saugerties {
        left: 23%;
        width: 54%;
      }
      &.upstate {
        left: 81%;
        top: 50%;
        width: 19%;
      }
      &.visiting {
        left: 81%;
        top: 10%;
        width: 19%;
      }
      &.yellow {
        left: 0;
        top: 25%;
        width: 19%;
      }
    }
  }

  #wall-2011 {
    .row { width: 960px; margin: 0 auto; }
    ul {
      margin: 1em auto;
      width: 790px;
      *zoom: 1;
      li {
        img {
          width: 100%;
        }
        float:left;
        margin-right:20px;
        padding-bottom: 20px;
        width: 250px;
        &:last-child {
          margin: 0;
        }
      }
      &:before, &:after {
        display: table; content: ""; 
      }
      &:after {
        clear: both;
      }
    }
  }

}