<html>
  <meta name="viewport" content="width = device-width, initial-scale =1 .0">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <head>
    <script type="text/javascript" src="http://use.typekit.com/wlg1psd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>  
    <link href="/css/screen.css" media="all" rel="stylesheet" type="text/css">
    <link href="/css/desktop.css" media="all" rel="stylesheet" type="text/css">
    <title>juyinjudylee – {{ page.title }}</title>
  </head>
  <body class="{{ page.layout }}">
